
.active {
    text-decoration: none;
    color: #437A28;
}

.pending {
    text-decoration: none;
    color: #323831
}

.none {
    text-decoration: none;
    color:black
}

.drawer {
    width: 240;
    flex-shrink: 0;
}
